@model AppVendas.Models.Cliente

@{
    ViewData["Title"] = "Deletar Clientes";
}

<div class="d-flex justify-content-between my-5 align-items-center">
    <span class="display-6 w-75 justify-content-center">Deletar Clientes</span>
</div>

<h3>Deseja excluir esse registro?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroAtivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CadastroAtivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ClienteId" />
        <input type="submit" value="Excluir" class="btn btn-outline-danger mt-3 px-5 py-2 me-3" />
        <a asp-action="Index" class="btn btn-outline-info align-items-baseline align-content-center px-5 mt-3 justify-content-center py-2">
            <ion-icon name="arrow-back" class="me-2"></ion-icon> Voltar
        </a>
    </form>
</div>
